.input-box {
  margin-top: 26px;
}

.input-box input {
  width: 100%;
  padding: 12px 20px 12px 20px;
  border: none;
  outline: none;
  border-radius: 320px;
  background: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-shadow: 1px 1px 0 #fff;
  box-shadow: inset 4px 4px 4px #babecc, inset -4px -4px 4px #fff;
  transition: all 200ms ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  position: relative;
}

.input-box input:focus {
  box-shadow: inset 3px 3px 4px #babecc, inset -3px -3px 4px #fff;
}

.input-box input::placeholder {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-shadow: 1px 1px 0 #fff;
}

.form-error {
  position: absolute;
  color: hotpink;
  font-size: 14px;
  margin-left: 2rem;
  display: none;
}

.input-box input:invalid ~ span {
  display: block;
}
