.chat-buttons {
  width: 550px;
  height: 46px;
  margin-top: 34px;
  text-align: right;
  justify-content: flex-end;
  display: flex;
}

#logout-button {
  width: 26px;
  height: 26px;
  border: none;
  background: transparent;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logout-button img {
  height: 100%;
  width: 100%;
  transition: all 100ms ease;
}

#logout-button img:hover {
  height: 28px;
  width: 28px;
}

.logout-loader {
  border: 4px solid #fd1593;
  border-radius: 50%;
  border-top: 4px solid white;
  width: 22px;
  height: 22px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
