.chat-buttons {
  width: 550px;
  height: 46px;
  margin-top: 34px;
  text-align: right;
  justify-content: flex-end;
  display: flex;
}

#logout-button {
  width: 26px;
  height: 26px;
  border: none;
  border-radius: 50%;
  background: transparent;
  overflow: hidden;
  cursor: pointer;
}

#logout-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
